<div class="modal" id="aboutModal">
    <div class="content">
        <button onclick="toggleModal('aboutModal')" class="close"><svg viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" fill="#fefefe" stroke="#fefefe" stroke-width="0.01024"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path fill="#fefefe" d="M195.2 195.2a64 64 0 0 1 90.496 0L512 421.504 738.304 195.2a64 64 0 0 1 90.496 90.496L602.496 512 828.8 738.304a64 64 0 0 1-90.496 90.496L512 602.496 285.696 828.8a64 64 0 0 1-90.496-90.496L421.504 512 195.2 285.696a64 64 0 0 1 0-90.496z"></path></g></svg></button>
        <h3>About</h3>
        <p>This website is a tracker for Hypixel Skyblock's jacobs contests (jacobs events). With this website, you have a better overview over all jacobs contests than with the ingame calender.</p>
        <p>The data for this website has to be collected manually every Skyblock year. Therefore it can happen, that there are no contests shortly after the new year event.</p>
        <p>If you want to use the data from this website for your own project, you can use the <a href="/api/jacobcontests" target="_blank" rel="noopener noreferrer">/api/jacobcontests</a> endpoint. If you're building something public-facing (like a website, bot, app, etc.), I ask you to include a link or note somewhere in your project crediting <a href="https://jacobs.strassburger.dev/">jacobs.strassburger.dev</a> as your data source.</p>
        <p>If you have any questions or suggestions, you can dm me on <a href="https://discord.com/users/490192247552475136" target="_blank" rel="noopener noreferrer">Discord</a> or <a href="https://twitter.com/Kartoffelchipse" target="_blank" rel="noopener noreferrer">Twitter</a></p>
        <p style="margin-top: 30px;">This website is not affiliated with Mojang nor Hypixel</p>
    </div>
</div>