<footer>
    <div class="inner">
        <div class="column">
            <a class="flex" href="/">
                <img src="/assets/crops/9.png">
                <h3>Jacob's Contests Tracker</h3>
            </a>
            <span class="by">Made with ❤️ by <a href="https://strassburger.org" target="_blank" rel="noopener noreferrer">KartoffelChips</a></span>
        </div>
        <div class="flex lastcolumns">
            <div class="column">
                <h4>Links</h4>
                <button class="textBtn" type="button" onclick="toggleModal('aboutModal')">About</button>
                <a href="/stats">Statistics</a>
                <!-- <a href="https://github.com/KartoffelChipss/jacob-contests" target="_blank" rel="noopener noreferrer">GitHub</a> -->
            </div>
            <div class="column">
                <h4>Legal</h4>
                <a href="/legalnotice">Legal Notice</a>
            </div>
        </div>
    </div>
</footer>