@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap");
:root {
  --main-color-1: #cdb159;
  --main-color-2: #cdb159;
  --sec-color-1: #4A4453;
  --sec-color-2: #858486;
  --grey: #36393f;
  --white: #f5f5f5;
  --font-color: #e0e0e0;
  --background-color: #1b1b1d;
  --font-color-wbg: #e0e0e0;
  --contest-bg: #292929;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Sora", sans-serif;
  font-weight: 700;
  font-size: larger;
  line-height: 1;
  height: 100vh;
  width: 100%;
  position: relative;
  color: var(--font-color);
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  font-size: 14px;
  color: var(--font-color);
}

h1 {
  color: var(--font-color);
}

button {
  color: var(--font-color);
  font-family: "Sora", sans-serif;
}

.textBtn {
  background-color: transparent;
  border: none;
  text-align: left;
  padding: 0;
  margin: 0;
}

@supports not selector(:focus-visible) {
  a:focus {
    outline: var(--main-color-2) 2px solid;
    outline-offset: 2px;
  }
  button:focus {
    outline: var(--main-color-2) 2px solid;
  }
}
a:focus-visible {
  outline: var(--main-color-2) 2px solid;
  outline-offset: 2px;
}

button:focus-visible {
  outline: var(--main-color-2) 2px solid;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--background-color);
  transition: opacity 0.75s, visibility 0.75s;
  transform: scaleX(1);
}

.loader--hidden {
  opacity: 0;
  visibility: hidden;
}

.loader::after {
  content: "";
  width: 75px;
  height: 75px;
  border: 15px solid transparent;
  border-top-color: var(--main-color-2);
  border-radius: 50%;
  animation: loading 0.75s ease infinite;
}

@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}
.announcementBanner {
  width: 100%;
  position: relative;
  text-align: center;
  margin-top: 25px;
  padding: 15px;
  border-radius: 7px;
  background-color: #9761EC;
  color: var(--font-color);
  font-size: 18px;
  line-height: 1.5;
}
.announcementBanner .closebtn {
  background-color: transparent;
  color: var(--font-color);
  border: none;
  position: absolute;
  top: 5px;
  right: 2.5px;
}

.cookieBanner {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  left: 0;
  z-index: 20;
  width: 100%;
  background-color: #1c1d1f;
  color: var(--white);
  line-height: 1.3;
  font-family: "Sora", sans-serif;
  box-shadow: 0px -2px 10px 12px rgba(0, 0, 0, 0.52);
}
.cookieBanner .inner {
  display: flex;
  align-items: center;
  padding: 15px;
}
@media screen and (max-width: 1280px) {
  .cookieBanner .inner {
    flex-direction: column;
  }
}
.cookieBanner .buttons {
  margin-left: 50px;
}
@media screen and (max-width: 1280px) {
  .cookieBanner .buttons {
    margin-left: 0;
    margin-top: 15px;
  }
}
.cookieBanner .buttons button {
  border: none;
  padding: 13px;
  font-size: 16px;
  margin-left: 10px;
  transition: transform 0.1s ease-in-out;
}
.cookieBanner .buttons .acceptAll {
  background-color: var(--main-color-2);
}
@media screen and (max-width: 430px) {
  .cookieBanner .buttons .acceptAll {
    margin-left: 0;
  }
}
.cookieBanner .buttons .acceptAll:hover {
  transform: scale(1.05);
}
.cookieBanner .buttons .rejectAll {
  background-color: var(--grey);
}
.cookieBanner .buttons .rejectAll:hover {
  transform: scale(1.05);
}
.cookieBanner .buttons .configure {
  background-color: transparent;
  padding: 0;
}
@media screen and (max-width: 430px) {
  .cookieBanner .buttons .configure {
    margin: 25px 0;
    margin-bottom: 10px;
  }
}
.cookieBanner .buttons .configure:hover {
  color: #cecece;
}
.cookieBanner .content {
  display: flex;
  flex-direction: column;
}
.cookieBanner .content .cookieCheckboxDiv {
  display: flex;
  align-items: center;
}
.cookieBanner .content .cookieCheckboxDiv label {
  margin: 0;
  font-size: 16px;
}
.cookieBanner .titleBar {
  display: flex;
  align-items: center;
}
.cookieBanner .titleBar img {
  height: 45px;
}
.cookieBanner .titleBar h3 {
  font-size: 26px;
  margin: 0;
  margin-left: 7px;
}

.cookieModal {
  display: none;
  position: fixed;
  z-index: 50;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.cookieModal .content {
  background-color: #36393f;
  background-size: cover;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #dbdbdb;
  width: 80%;
  color: #f5f5f5;
}
.cookieModal h3 {
  margin: 0;
  border-radius: 5px;
  padding-bottom: 10px;
  font-weight: 600;
  font-size: 27px;
  border-bottom: var(--sec-color-2) 5px solid;
}
.cookieModal .buttons {
  margin-top: 25px;
  display: flex;
}
@media screen and (max-width: 440px) {
  .cookieModal .buttons {
    flex-direction: column;
  }
}
.cookieModal .buttons button {
  border: none;
  padding: 13px;
  font-size: 16px;
  margin-left: 10px;
  transition: transform 0.1s ease-in-out;
}
.cookieModal .buttons .acceptAll {
  background-color: #1c1d1f;
}
@media screen and (max-width: 440px) {
  .cookieModal .buttons .acceptAll {
    margin: 0;
    margin-bottom: 10px;
  }
}
.cookieModal .buttons .acceptAll:hover {
  transform: scale(1.05);
}
.cookieModal .buttons .rejectAll {
  background-color: #1c1d1f;
}
@media screen and (max-width: 440px) {
  .cookieModal .buttons .rejectAll {
    margin: 0;
    margin-bottom: 10px;
  }
}
.cookieModal .buttons .rejectAll:hover {
  transform: scale(1.05);
}
.cookieModal .buttons .saveSettings {
  background-color: var(--main-color-2);
}
@media screen and (max-width: 440px) {
  .cookieModal .buttons .saveSettings {
    margin: 0;
    margin-bottom: 10px;
  }
}
.cookieModal .buttons .saveSettings:hover {
  transform: scale(1.05);
}
.cookieModal .cookieCheckboxDiv {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.cookieModal .cookieCheckboxDiv div {
  display: flex;
  align-items: center;
}
.cookieModal .cookieCheckboxDiv div label {
  margin: 0;
  font-size: 20px;
}
.cookieModal .cookieCheckboxDiv p {
  font-size: 16px;
  margin: 0;
}

.modal {
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal._shown {
  display: flex;
}
.modal .content {
  --padding: 25px;
  width: calc(90% - var(--padding) * 2);
  max-width: 1000px;
  background-color: var(--background-color);
  padding: var(--padding);
  border-radius: 7px;
}
.modal .content h3 {
  font-size: 28px;
  font-weight: 600;
  margin: 0;
  margin-bottom: 15px;
}
.modal .content p {
  font-size: 18px;
  line-height: 1.3;
}
.modal .content button.close {
  top: 0px;
  right: 0px;
}
.modal .content button.close svg {
  height: 30px;
  width: 30px;
}

.toggle-box {
  transform: scale(0.4);
  display: block;
  width: -moz-min-content;
  width: min-content;
  margin: 0;
  margin-left: -28px;
}
.toggle-box input[type=checkbox] {
  position: relative;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100px;
  height: 50px;
  background: #ccc;
  border-radius: 50px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: 0.4s;
}
.toggle-box input:checked[type=checkbox] {
  background: var(--main-color-2);
}
.toggle-box input[type=checkbox]::after {
  position: absolute;
  content: "";
  width: 50px;
  height: 50px;
  top: 0;
  left: 0;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
  transition: 0.4s;
}
.toggle-box input:checked[type=checkbox]::after {
  left: 50%;
}

/* --- Footer --- */
body > footer {
  position: sticky;
  top: 100vh;
}

footer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  background-color: rgba(255, 255, 255, 0.01);
  width: 100%;
}
footer .inner {
  max-width: 1200px;
  width: calc(100% - 50px);
  display: flex;
  justify-content: space-between;
  padding: 50px 25px;
}
footer .column {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 50px;
}
footer .column h4 {
  font-size: 18px;
  margin: 0;
  margin-bottom: 10px;
  color: var(--main-color-1);
  margin-top: 5px;
  font-weight: 700;
}
footer .column a, footer .column button {
  color: var(--light-grey);
  text-decoration: none;
  margin-top: 10px;
  font-size: 18px;
  font-weight: 600;
}
footer .column a.socialmedia, footer .column button.socialmedia {
  margin-top: 15px;
  margin-right: 7px;
}
footer .column a.socialmedia svg, footer .column button.socialmedia svg {
  height: 25px;
  width: 25px;
}
footer .column:first-of-type img {
  height: 30px;
  width: 30px;
  margin-right: 15px;
}
footer .column:first-of-type h3 {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
  color: var(--main-color-1);
}
footer .column:first-of-type .by {
  font-size: 16px;
  font-weight: 500;
  margin-top: 15px;
}
footer .column:first-of-type .by a {
  font-size: 16px;
  font-weight: 600;
  text-decoration: underline;
}
footer .flex {
  display: flex;
  align-items: center;
}
footer .copyright {
  font-size: 14px;
  color: var(--light-grey);
  margin-top: 15px;
}
@media screen and (max-width: 650px) {
  footer .inner {
    flex-direction: column;
    padding: 25px;
  }
  footer .column {
    margin: 0;
    margin: 15px 0;
  }
}/*# sourceMappingURL=assets.css.map */