@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

:root {
    --main-color-1: #9761EC;
    --main-color-2: #0088F5;
    --secondary-color-1: #4A4453;
    --secondary-color-2: #858486;
    --grey: #36393f;
    --white: #f5f5f5;
    --font-color: #e0e0e0;
    --background-color: #36393f;
    --font-color-wbg: #e0e0e0;
    --contest-bg: #292929;
}

::-moz-selection { /* For Firefox*/
    color: #f5f5f5;
    background: var(--main-color-2);
}

::selection {
  color: #f5f5f5;
  background: var(--main-color-2);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Sora', sans-serif;
    font-weight: 700;
    font-size: larger;
    line-height: 1.0;
    height: 100vh;
    width: 100%;

    color: var(--font-color);
    background-color: var(--background-color);
}

p {
    font-size: 14px;
    color: var(--font-color);
}

h1 {
    color: var(--font-color);
}

button {
    color: var(--font-color);
}

@supports not selector(:focus-visible) {
    a:focus {
        outline: var(--main-color-1) 2px solid;
        outline-offset: 2px;
    }
    
    button:focus {
        outline: var(--main-color-1) 2px solid;
    }
    
}

a:focus-visible {
    outline: var(--main-color-1) 2px solid;
    outline-offset: 2px;
}

button:focus-visible {
    outline: var(--main-color-1) 2px solid;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #333333;
    transition: opacity 0.75s, visibility 0.75s;
    transform: scaleX(1);
}

.loader--hidden {
    opacity: 0;
    visibility: hidden;
}

.loader::after {
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid transparent;
    border-top-color: var(--main-color-1);
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
}

@keyframes loading {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}


.outer-main {
    display: flex;
    justify-content: center;
}

main.mainPage {
    max-width: 1500px;
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

main.mainPage .titleBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main.mainPage .titleBox h1 {
    font-size: 37px;
    margin-bottom: 30px;
    padding-bottom: 15px;
    border-bottom: #858486 5px solid;
    color: var(--font-color-wbg);
}

main.mainPage .titleBox p {
    font-size: 18px;
    font-weight: 400;
    color: var(--font-color-wbg);
}

main.mainPage .titleBox .typesBox {
    background-color: var(--contest-bg);
    border-radius: 13px;
    padding: 10px;
}

main.mainPage .titleBox .typesBox button {
    background-color: transparent;
    border: none;
    border-radius: 13px;
    padding: 2.5px;
    transition: all .1s ease-in-out;
}

main.mainPage .titleBox .typesBox button.active {
    background-color: #8584867e;
}

main.mainPage .titleBox .typesBox button.inactive {
    filter: opacity(40%);
}

main.mainPage .titleBox .typesBox button img {
    height: 50px;
    aspect-ratio: 1/1;
}

main.mainPage .contestsBox {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 65%;
    margin-top: 65px;
}

main.mainPage .contestsBox .contest {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--contest-bg);
    border-radius: 13px;
    padding: 13px;
    margin-top: 15px;
}

main.mainPage .contestsBox .contest p {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    color: var(--font-color-wbg);
}

main.mainPage .contestsBox .contest .crops {
    display: flex;
}

main.mainPage .contestsBox .contest .crops img {
    height: 40px;
    aspect-ratio: 1/1;
    margin: 0 5px;
}

main.mainPage .contestsBox .contest button {
    background-color: transparent;
    border: none;
    padding: 10px;
    border-radius: 13px;
}

main.mainPage .contestsBox .contest button i {
    color: var(--font-color-wbg);
}

.noContests {
    align-items: center;
    flex-direction: column;
}


#themeChanger {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 25px;
    right: 25px;
    font-size: 30px;
    color: var(--font-color);
}

#themeChanger img {
    height: 35px;
    aspect-ratio: 1/1;
    filter: invert(100%);
}

@media screen and (max-width: 830px) {
    main.mainPage .titleBox {
        text-align: center;
    }
    
    main.mainPage .titleBox .typesBox {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    main.mainPage .contestsBox {
        margin-top: 30px;
        width: 80%;
    }

    main.mainPage .contestsBox .contest {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    main.mainPage .contestsBox .contest .crops {
        margin: 10px 0;
    }

    main.mainPage .contestsBox .contest p {
        margin: 10px 0;
    }

    #themeChanger {
        display: none;
    }
}


body > footer {
    position: sticky;
    top: 100vh;
}

footer {
    display: flex;
    justify-content: space-around;
    padding: 30px 10px;
    background-color: #292929;
    color: var(--white);
    align-items: center;
    margin-top: 50px;
}

footer .left {
    display: flex;
    align-items: center;
}

footer .left a {
    color: var(--font-color);
}

footer .left p {
    margin: 0;
    font-size: 15px;
    color: var(--font-color);
}

footer .left img {
    height: 50px;
    width: auto;
    margin-right: 5px;
    border: var(--main-color-1) 2px solid;
    border-radius: 100%;
    aspect-ratio: 1/1;
}

footer .right {
    display: flex;
    justify-content: right;
    align-items: center;
}

footer .right a {
    color: var(--font-color);
    margin-left: 10px;
    font-size: 15px;
}

footer .right a:hover {
    cursor: pointer;
}


.modal {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #36393f;
    background-size: cover;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #dbdbdb;
    width: 80%;
    color: #f5f5f5;
}

.modal-content h3 {
    font-size: 27px;
    font-weight: 500;
    margin: 0;
    margin-bottom: 15px;
}

.modal-content p {
    font-size: 18px;
    font-weight: 500;
}

.modal-content a {
    color: var(--main-color-1);
}

.modal-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.close {
    color: #f5f5f5;
    font-size: 35px;
    border: none;
    background: none;
    width: fit-content;
    margin-top: -12px;
}

.close:hover, .close:focus {
    color: #dbdbdb;
    text-decoration: none;
    cursor: pointer;
}

.modal-active {
    display: block;
}