@import url("./assets.css");

main {
    display: flex;
    flex-direction: column;
    align-items: center;

    --padding: 15px;
    width: 100%;
    max-width: calc(100% - var(--padding) * 2);
    padding: var(--padding);

    h1 {
        font-size: 43px;
        margin: 20px 0;
        text-align: center;

        //color: var(--main-color-1);

        @media screen and (max-width: 600px) {
            font-size: 37px;
        }
    }

    .divider {
        height: 5px;
        border-radius: 3px;
        background-color: var(--sec-color-2);
        width: 100%;
        max-width: 650px;
        margin: 15px 0;
    }

    p {
        margin: 20px 0;
        font-size: 18px;
        font-weight: 400;
    }

    .typesBox {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        background-color: rgba(255,255,255, .03);

        padding: 7px;
        border-radius: 7px;
        gap: 5px;

        button {
            background-color: transparent;
            border: none;
            background-color: transparent;
            border-radius: 7px;
            transition: background .1s ease-in-out;

            padding: 5px;
            
            img {
                height: 45px;
                width: 45px;
            }

            &[data-selected="true"] {
                background-color: rgba(255,255,255, .08);
            }

            &:hover:not([data-selected="true"]) {
                background-color: rgba(255,255,255, .03);
            }

            &.inactive {
                filter: opacity(40%);
            }

            &:first-of-type {
                margin-left: 0;
            }

            &:last-of-type {
                margin-right: 0;
            }
        }
    }

    .contestsBox {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 1000px;

        margin: 50px 0;

        .contest {
            --padding: 5px;
            width: calc(100% - var(--padding) * 2);

            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 15px;

            background-color: rgba(255,255,255, .03);
            border-radius: 7px;
            padding: var(--padding) 15px;

            &:last-of-type {
                margin-bottom: 0;
            }

            p {
                font-weight: 600;
                font-size: 17px;

                &.countDown {
                    min-width: 126px;
                }
            }

            .crops {
                display: flex;
                align-items: center;
                gap: 7px;

                img {
                    height: 45px;
                    aspect-ratio: 1/1;
                }
            }

            .alertBtn {
                background-color: transparent;
                border: none;
                outline: none;
                padding: 0;

                svg {
                    width: 25px;
                    height: 25px;
                }
            }
        }
    }
}