@import url("./assets.css");

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .inner {
        --padding: 15px;
        width: calc(100% - var(--padding) * 2);
        padding: var(--padding);
        max-width: 1300px;
        display: flex;
        flex-direction: column;
        gap: 50px;

        margin-bottom: 50px;
    }

    .statsboxes {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 30px;

        .statsbox {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 30px;
            border-radius: 12px;
            background-color: rgba(255, 255, 255, 0.03);

            flex: 1;
            min-width: fit-content;

            .bigNum {
                font-size: 50px;
                margin-bottom: 15px;
            }

            .smallText {
                color: #aaaaaa;
                font-size: 18px;
            }
        }
    }

    .graph {
        width: 100%;

        display: flex;
        flex-direction: column;

        @media screen and (max-width: 700px) {
            align-items: center;
        }
    }
}