<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Legal Notice - Jacobs Farming Contests tracker for Hypixel Skyblock</title>
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16x16.png">
    <link rel="manifest" href="/assets/favicons/site.webmanifest">
    <link rel="mask-icon" href="/assets/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/assets/favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <meta property="og:title" content="Jacobs Farming Contests tracker for Hypixel Skyblock">
    <meta property="og:site_name" content="Legal Notice">
    <meta property="og:url" content="https://jacobs.strassburger.dev/">
    <meta property="og:description" content="This is a tracker to get an overview of the upcoming Jacobs farming contests with the ability to filter by crops. You can get a better overview over all jacobs farming events with the times automatically adjusting to your timezone.">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://jacobs.strassburger.dev/assets/img/preview.png">

    <link href="/assets/legal.css" rel="stylesheet">
</head>
<body>
    <div class="loader"></div>

    <%- include("partials/aboutModal.ejs") %>

    <div class="container">
        <%- include("partials/nav.ejs") %>

        <main>
            <div class="inner">
                <h2>Legal Notice</h2>
                <h3>Information according to § 5 TMG</h3>
                <p>Ja<!-- funny -->n Straß<!-- hehe -->burger<br>
                    Bert-Br<!-- poopy -->echt-Straße 11<br>
                    6<!-- hehe -->6386 St. Ingb<!-- funny -->ert</p>
                <h3>Contact</h3>
                <p>E-Mail: <!-- hehe -->con<!-- funny -->ta<span class="ja">ct@</span>stra<!-- poopy --><span class="unicorn">ssburger</span>.<!-- hehe -->org</p>
        
                <h2 style="margin-top: 70px;">Disclaimer</h2>
                <h3>1. Warning about contents</h3>
                <p>The free and freely accessible contents of this website have been created with the greatest possible care. However, the provider of this website does not guarantee the accuracy and timeliness of the provided free and freely accessible journalistic advice and news. The use of this website content is at the user's own risk. The mere fact of calling up this free and freely accessible content does not constitute any contractual relationship between the user and the provider; in this respect, the provider's intention to be legally bound is lacking.</p>
                <h3>2. Links</h3>
                <p>The website contains links to other websites ("external links"). These websites are subject to the liability of the respective site operators. At the time of linking the external links, no legal violations were apparent. The provider has no influence on the current and future design of the linked pages. It is not reasonable for the provider to permanently check the external links without concrete indications of legal violations. If violations of the law become known, the external links concerned will be deleted immediately.</p>
                <h3>3. Copyright / ancillary copyright</h3>
                <p>The contents published on this website by the provider are subject to German copyright and ancillary copyright law. Any use not permitted by German copyright and ancillary copyright law requires the prior written consent of the provider or the respective rights holder. This applies in particular to the copying, editing, translation, storage, processing or reproduction of content in databases or other electronic media and systems. Third-party content and rights are marked as such. Unauthorised copying of website content or the entire website is not permitted and is punishable by law. Only the production of copies and downloads for personal, private and non-commercial use is permitted.</p>
                <p>This website may not be displayed in frames or iFrames by third parties without written permission.</p>
                <h3>4. No advertising</h3>
                <p>The use of the contact data in the Legal Notice for commercial advertising is expressly not desired unless the provider has given prior written consent or a business relationship already exists. The provider and all persons named on this website hereby object to any commercial use and disclosure of their data.</p>
                <h3>5. Special terms of use</h3>
                <p>Insofar as special conditions for individual uses of this website deviate from the aforementioned numbers 1 to 4, this will be expressly indicated at the appropriate place. In this case, the special conditions shall apply in the respective isolated case.</p>
            </div>
        </main>
    
        <%- include("partials/footer.ejs") %>
    </div>

    <script src="/assets/script.js"></script>
</body>
</html>